.ui.raised.container{
    margin-top: 5vh;
}

.ui.message p {
    display: inline-block;
}

input[type="text"],
#summaryName,
#summaryAuthor,
#summaryList {
    text-transform: capitalize;
}

#generalItem:hover,
#questionItem:hover,
#summaryItem:hover {
    cursor: pointer;
}