.ui.raised.container{
    padding-top: 5vh;
}

span:nth-last-of-type(2) {
    padding-left: 20%;
}

span {
    font-size: 0.85em;
}

/*td {*/
    /*text-transform: capitalize;*/
/*}*/

#quizBox {
    min-height: 200px;
}

p {
    display: inline-block;
}

.ui.table {
    font-size: 1.2em;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}